{% extends "pages/base.html" %}
{% from 'components/form.html' import field %}
{% block navbar %}
{% endblock %}
{% block content %}
    <form action="/users/new" method="post" class="form-card">
        <a href="/">jupiter merch</a>
        <div class="fields">
            {{field('fname', 'text', 'fname', true, 'first name')}}
            {{field('lname', 'text', 'lname', true, 'last name')}}
            {{field('email', 'email', 'email', true, 'email')}}
            {{field('password', 'password', 'password', true, 'password')}}
        </div>
            <button type="submit" class="linkbtn" style="width:300px;cursor: pointer;">submit</button>
            <p>Already have an account? <a href="/users/login">login here</a></p>
    </form>
{% endblock %}
{% block footer %}
{% endblock %}